*{
	margin: 0px;
	padding: 0px;
}

body{
	font-family: serif;
	font-size: 14px;
	line-height: 2px;

}

h1,h2,h3,h4,h5,h6{
	font-family: sons-serif;
}
a,a:hover{
	text-decoration: none;
}

/********************* css start from here ************************/

.login-box{
	width: 40%;
	margin: 50px auto;
}

.main-form{
	width: 30%;
	padding: 3px;
	background-color: #eee;
	border: 2px solid red;
	border-radius: 3px;
}

.main-form .avater-img{
	width: 100%;
	text-align: center;

}

.main-form .avater-img .avater{
	width: 130px;
	height: 130px;
	border-radius: 50%;
	border: 2px solid red;

}

.main-form h2{
	font-size: 32px;
	line-height: 42px;
	color: red;
	text-transform: uppercase;
	font-weight: 400;
	text-align: center;
	margin: 20px 0px;
}

.main-form .form-group{
	width: 100%;
	margin: 15px 0px;
}

.main-form .form-group label{
	display: block;
	font-size: 14px;
	line-height: 24px;
	text-transform: uppercase;
	font-weight: 400;
	margin: 0px 0px 5px;
	text-align: left;

	
}

.main-form .form-control{
	width: 97px;
	padding: 10px;
	font-size: 13px;
	border: 1px solid #000;


}

.main-form .btn-btn{
	padding: 15px 40px;
	border: 1px solid #000;
	background: #000;
	color: #fff;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 1px;
	text-transform: uppercase;
	margin: 15px 0px 0px;
	border-radius: 10;
	cursor: pointer;

}

.main-form .btn-btn:hover{
	letter-spacing: 4px;
	transition: 1s;
	border: 1px solid #000;
	background: red;
	color: #fff;


}





